<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacing">App Name</span>
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>person</mat-icon>
      <span>{{ userName }}</span>
    </button>
    <mat-menu
      #accountMenu="matMenu"
      xPosition="before"
      yPosition="above"
      [overlapTrigger]="false"
    >
      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <h3 mat-subheader>Home</h3>

        <a
          mat-list-item
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon> dashboard </mat-icon>
          <p mat-line>Dashboard</p>
        </a>

        <a
          mat-list-item
          [routerLink]="['/customers']"
          routerLinkActive="active"
        >
          <mat-icon mat-list-icon> business </mat-icon>
          <p mat-line>Customers</p>
        </a>
        <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon mat-list-icon> people </mat-icon>
          <p mat-line>Users</p>
        </a>

        <a mat-list-item [routerLink]="['/account/profile']">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line>Account</p>
        </a>

        <a mat-list-item [routerLink]="['/auth/login']">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line>Log out</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
